{% extends 'planner/base.html' %}

{% block content %}

<div class="card shadow-sm">
    <div class="card-body">

        <h2>Delete Subject</h2>

        <p>
            Are you sure you want to delete:
            <strong>{{ subject.subject_name }}</strong>?
        </p>

        <form method="POST">
            {% csrf_token %}

            <button class="btn btn-danger">
                Delete
            </button>

            <a href="{% url 'home' %}" class="btn btn-secondary">
                Cancel
            </a>
        </form>

    </div>
</div>

{% endblock %}